
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
  session:
    store-type: redis
    timeout: 122400s
  security:
    oauth2:
      client:
        registration:
          nextcloud:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "${VITE_API_BASE_URL}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email
        provider:
          nextcloud:
            issuer-uri: ${NEXTCLOUD_URL}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public

frontend:
  url: ${FRONTEND_URL}

# Image Storage
app:
  image:
    storage:
      path: ${APP_IMAGE_STORAGE_PATH:/var/boxcopilot/images}

logging:
  level:
    org.springframework: INFO
    com.boxcopilot.backend: INFO
  file:
    path: /app/logs

# Ensure proper behavior behind reverse proxy and cross-site cookies
server:
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        same-site: none
        secure: true

